.board button {
    background-color: rgb(255, 255, 255);
    border-radius: 60%;
    border: 2px solid black;
    margin: 2px;
    width: 58.3px;
    height: 58.3px;
}

.board {
    background-color: yellow;
    margin: 0 auto;
    align-content: center;
    border-radius: 10%;
    width: 60%;
}

body {
    height: 100vh;
}


.playerSides {
    display:flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    background-color:lightblue;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.reset a{
    margin-bottom: 3%;
    margin-top: 0 0 0 3px;
    text-align: right;
}

.container h1 {
    margin: 0 auto;
}

.container h2 {
    font-size: 15px;
    margin: 0 auto;
}

.container h3 {
    font-size: 18px;
    color: green;
    text-align: center;
}