.board button {
    background-color: rgb(255, 255, 255);
    border-radius: 60%;
    border: 2px solid black;
    margin: 2px;
    width: 90px;
    height: 90px;
}

.board {
    background-color: yellow;
    border: 2px solid black;
}


.playerSides {
    display:flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.reset {
    margin-bottom: 3%;
}